@charset "UTF-8";
/* CSS Document */
#projectsearchform,.portaltype-project #content-core > h2,.portaltype-project-database #content > div > table.listing,.portaltype-project-database #content > div > h2 {
   display: inline block;
   margin-left: 1em;
    margin-right: 1em;
}

#projectmapform {
   display: inline block;
   margin-left: 1em;
    margin-right: 1em;
}


#projectsearchform div.field {
    margin-bottom:0.5em;
    clear: none;
    }

#projectmapform fieldset.projectdetail div.field {
    margin-bottom:0.5em;
    }

#projectsearchform div.field.odd  {
    float:left;
    }

#projectmapform fieldset.projectdetails div.field.odd  {
    float:left;
    }

#projectsearchform div.field.even  {
    float:left;
    clear:none;
    }

#projectmapform fieldset.projectdetails div.field.even  {
    float:right;
    clear:none;
    }

#projectsearchform fieldset {
    padding:0 1em;
    }

#projectmapform fieldset.projectdetails {
    padding:0 1em;
    }

#projectmapcontainer {
    width:100%;
    }

#projectdbmap {
    width: 70%;
    float:left;
}

#projectdbmap div.widget-cgmap {
    height: 600px; /* same height as mapformsplitter */
}


/* contains the searchform right of the map */
#queryformcontainer {
    width: auto;
    display: inline-block;
    border-left: solid grey 1em;
    }

/* spliter to show/hide the shearchform */
#mapformsplitter {
    background-color: #989898;
    width: 1em;
    height: 600px; /* same height as #projectdbmap div.widget-cgmap  */
    float:left;
    margin-left: -1em;
    cursor: e-resize;
}

img#exp-collapse-form {
   float: right;
   cursor: ne-resize;
}

#projectsearchform div.formHelp  {
    display: none;
    }

#projectmapform fieldset.projectdetails div.formHelp  {
    display: none;
    }
#projectsearchform input, #projectsearchform input#title,#projectsearchform select {
    width: 13em;
}
/*
#projectsearchform input {
    width: 20em;
    }
*/
#projectmapform fieldset.projectdetails select {
    width: 20em;
    }

#projectsearchform .basinlayers input{
    width: 1em;
    margin-left: 3em;
    }

#basinlayer input{
    width: 1em;
    margin-left: 3em;
    }


#projectsearchform .basinlayers div{
    margin-left: 5em;
    }

#projectsearchform .basinlayers label{
    display: inline;
    float: none;
    }

#projectmapform .projectdetails label{
    display: none;
    }

#projectmapform fieldset {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    }



/*
#projectsearchform select {
    width: 20em;
    }
    */
#projectsearchform div.formControls.even {
    clear:none;
    float:right;
    margin: 0em;
    }

#projectmapform div.formControls.even {
    clear:none;
    float:right;
    margin: 0em;
    }


#projectsearchform div.formControls.even input {
    width: 7em;
    }

#projectsearchform  label {
    width:11em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
    }

#projectsearchform option,.portaltype-project-database #content > div > h1 {
    padding: 0 0 0 0.5em;
    }

#projectsearchform option.disabled {
    color: #888888;
    }

#projectsmap div.widget-cgmap {
    height: 200px;
}



.flexigrid div.hDivBox table {
    margin-bottom: 0 !important;
    }

div.flexigrid {
    /*margin-left: auto;
    margin-right: auto;*/
    margin: 1em auto;
}

#map-nav-panel {
    right: 0px;
    height: 30px;
    width: 200px;
}
#map-nav-panel div {
    float: left;
    margin: 5px;
}



#content ul.formTabs {
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
/*
#content div.project-collumn-wrapper div.c3, #content div.project-collumn-wrapper div.c4 {
width:50%;
}*/
#content div.project-collumn-wrapper div.c3 {
    float: left;
    width: 67%;
}


#content div.project-collumn-wrapper div.c4 {
    float: right;
    width: 30%;
    background-color: #efefef;
    padding: 1em;
    border-left: 1px solid #cccccc;
}
#flexiprojects a:link, #flexiprojects a:visited {
    color: #205C90;
}
.prjlabel {
    width: 22%;
    background-color: #efefef;
    color: #666666;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #cccccc;
}
.c1 {
    padding: 1em;
}
#content #subfolder-menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#subfolder-menu li {

    padding-left: 15px;
}

.portaltype-project #content-core,.portaltype-project-database #content > div {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
}

.summarylabel {

    line-height: 28px;
    border: 1px solid #cccccc;
    color: #000000;
}
#AutoNumber2 td {
    padding:0 1em;
    background-color: #ffffff;
    border-left:  1px solid #cccccc;
    border-right:   1px solid #cccccc;
    vertical-align: top;
}
#AutoNumber2 td.summarybottom {
    border-left:  0;
    border-right:   0;
    border-top: 1px solid #cccccc;
    background-color: #efefef;
}
#AutoNumber2 {
    border-bottom:  1px solid #cccccc;
}
#AutoNumber2 img {
    width: 100%;
}
#content table#AutoNumber3 {
    margin-bottom: 0;
}
#projectdbcharts {
    padding:  1em;
    text-align: center;
}

#disclaimer, #datasources {
    text-decoration: underline;
    font-weight: bold;
    font-size: 110%;
}

.project-header-image img {
    max-width: 100%;
}
.ui-dialog .ui-dialog-titlebar {
background:none;
}

/* loading panel for map */
 .olControlLoadingPanel {
            background-image:url(spinner.gif);
            margin-left: 30%;
            margin-top: 20%;
            position: relative;
            width: 30%;
            height: 30%;
            background-position:center;
            background-repeat:no-repeat;
            background-color:white;
            border: solid 1em;
            border-color: grey;
            border-radius: 3em;
            text-align: center;
            font-weight:bold;
            font-size: 130%;
            display: none;
        }
