@charset "UTF-8";
/* CSS Document */
#projectsearchform {
   display: inline block;
}

#projectmapform {
   display: inline block;
}


#projectsearchform div.field {
    margin-bottom:0.5em;
    clear: none;
    }

#projectmapform fieldset.projectdetail div.field {
    margin-bottom:0.5em;
    }

#projectsearchform div.field.odd  {
    float:left;
    }

#projectmapform fieldset.projectdetails div.field.odd  {
    float:left;
    }

#projectsearchform div.field.even  {
    float:left;
    clear:none;
    }

#projectmapform fieldset.projectdetails div.field.even  {
    float:right;
    clear:none;
    }

#projectsearchform fieldset {
    padding:0 1em;
    }

#projectmapform fieldset.projectdetails {
    padding:0 1em;
    }


#projectsearchform div.formHelp  {
    display: none;
    }

#projectmapform fieldset.projectdetails div.formHelp  {
    display: none;
    }
#projectsearchform input, #projectsearchform input#title,#projectsearchform select {
	width: 13em;	
}
/*
#projectsearchform input {
    width: 20em;
    }
*/
#projectmapform fieldset.projectdetails select {
    width: 20em;
    }

#projectsearchform .basinlayers input{
    width: 1em;
    margin-left: 3em;
    }

#basinlayer input{
    width: 1em;
    margin-left: 3em;
    }


#projectsearchform .basinlayers div{
    margin-left: 5em;
    }

#projectsearchform .basinlayers label{
    display: inline;
    float: none;
    }


/*
#projectsearchform select {
    width: 20em;
    }
    */
#projectsearchform div.formControls.even {
    clear:none;
    float:right;
    margin: 0em;
    }

#projectmapform div.formControls.even {
    clear:none;
    float:right;
    margin: 0em;
    }


#projectsearchform div.formControls.even input {
    width: 7em;
    }

#projectsearchform  label {
    width:11em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
    }

#projectsearchform option {
    padding: 0 0 0 0.5em;
    }

#projectsearchform option.disabled {
    color: #888888;
    }

#projectsmap div.widget-cgmap {
    height: 200px;
}

#projectdbmap div.widget-cgmap {
    height: 600px;
}



.flexigrid div.hDivBox table {
    margin-bottom: 0 !important;
    }

div.flexigrid {
    margin-left: auto;
    margin-right: auto;
}

#map-nav-panel {
    right: 0px;
    height: 30px;
    width: 200px;
}
#map-nav-panel div {
    float: left;
    margin: 5px;
}


#content ul#projectdb-tabs {
    background-color: transparent;
    /*padding-left: 1em;*/
    line-height: normal;
    margin: 0;
    list-style: none;
    /*border: 1px solid black;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;*/
    padding: 0.3em 0 0 0.3em;
	
}
#content ul#projectdb-tabs li {
    display: inline;
    margin-bottom: 0;
    padding-top: 0;
}
#content ul#projectdb-tabs li a, #content ul#projectdb-tabs li a:link {
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -webkit-border-top-left-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
    background-color: #d0d0d0;
    border: 0;
    text-transform: uppercase;
    color: #666666;
    height: auto;
    display: inline-block;
    margin-right: 0;
    padding: 0.7em 1em;
    line-height: normal;
    text-decoration: none;
    z-index: 1;
}
/*
#content ul#projectdb-tabs a.selected  {
    background-color: grey;
    border-bottom: 1px solid black;
    color: grey;
}
#content ul#projectdb-tabs li a:hover {
    background-color: blue;
    color: black;
}
*/
#content ul#projectdb-tabs a.selected,#content ul#projectdb-tabs li a:hover {
	background-color: #436fe6;	
	color: #ffffff !important;
}
#content ul.formTabs {
	border-top-right-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
}
#content div.project-collumn-wrapper div.c3, #content div.project-collumn-wrapper div.c4 {
width:50%;
}
#content div.project-collumn-wrapper div.c3 {
    float: left;
}


#content div.project-collumn-wrapper div.c4 {
    float: right;
}
#flexiprojects a:link, #flexiprojects a:visited {
	color: #205C90;
}
